<footer>
  <div
    class="footer container d-lg-flex align-items-center justify-content-between text-black py-10 px-7 px-lg-0 py-lg-12">
    <h2>
      <a class="font-shrikhand d-block text-black mfs-8" href="#">ALPHABOX+</a>
      <p class="fw-bold mfs-4 ls-1_6 d-none d-lg-block">
        Copyright © 2023 Hexschool.
      </p>
    </h2>

    <span class="material-symbols-outlined mfs-20 align-middle mb-2 mb-lg-0">
      emergency
    </span>

    <ul class="nav flex-column flex-lg-row gap-2 gap-lg-6 mb-2">
      <li class="nav-item">
        <a class="nav-link text-black fw-bold p-0" href="#">關於我們</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black fw-bold p-0" href="#">產品資訊</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-black fw-bold p-0" href="./faq.html"
          >常見問題</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-black fw-bold p-0" href="#">隱私政策</a>
      </li>
    </ul>

    <p class="fw-bold ls-1_6 d-lg-none">Copyright © 2023 Hexschool.</p>
  </div>
</footer>
