<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁 | AI 虛擬陪伴</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <!-- hero section -->
      <section class="hero bg-hero">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xxl-6 col-xxxl-8">
              <div
                class="card bg-transparent text-white border-0 mt-9 mb-8 my-xxxl-0">
                <h6 class="card-subtitle fw-bold m-0">ALPHABOX+ STUDIO</h6>
                <div class="text-center my-8 my-xxxl-14">
                  <img
                    class="circle"
                    width="196"
                    height="196"
                    src="../assets/images/circle.png"
                    alt="circle animation" />
                </div>
                <h2 class="card-title font-shrikhand m-0">A L P H A B O X +</h2>
                <p class="card-text text-center fw-bold">
                  擁抱未來科技，專屬您的3D立體投影陪伴機器人
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="container container-xxxl">
          <div class="position-relative d-none d-xxl-block">
            <a class="news text-white fw-bold pb-2" href="#">
              最新消息！新版本 v15.4 釋出，搶先體驗！</a
            >
            <p class="copyright primary-light-1 fw-medium">
              Copyright © 2023 Hexschool.
            </p>
          </div>
          <ul
            class="hero-body list-unstyled row align-items-end g-4 g-md-8 mb-0">
            <li class="hero-list col-md-6 col-xxl-3">
              <div class="hero-item">
                <h3
                  class="text-white font-shrikhand mfs-8 text-center pt-4 m-0">
                  Diane
                </h3>
              </div>
            </li>
            <li class="hero-list col-md-6 col-xxl-3">
              <div class="hero-item">
                <h3
                  class="text-white font-shrikhand mfs-8 text-center pt-4 m-0">
                  Felix
                </h3>
              </div>
            </li>
            <li class="hero-list col-md-6 col-xxl-3">
              <div class="hero-item">
                <h3
                  class="text-white font-shrikhand mfs-8 text-center pt-4 m-0">
                  Karina
                </h3>
              </div>
            </li>
            <li class="hero-list col-md-6 col-xxl-3">
              <div class="hero-item">
                <h3
                  class="text-white font-shrikhand mfs-8 text-center pt-4 m-0">
                  Vito
                </h3>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <!-- subhero section -->
      <section class="subhero mt-n26 mt-xxxl-n44">
        <div class="card bg-transparent border-0">
          <div class="container container-xxxl">
            <hr
              class="divider divider-right opacity-100 border-top-0 mt-34 mt-md-36 mb-md-2" />
            <div class="card-header p-0 border-bottom-0">
              <h2
                class="card-text text-white mfs-6 mfs-md-12 fw-bold ls-24 ls-md-48 mb-md-3">
                什麼是
              </h2>
              <h2
                class="card-text text-white mfs-6 mfs-md-12 fw-bold ls-24 ls-md-48">
                ALPHABOX<span>+</span>
              </h2>
            </div>
          </div>
          <hr
            class="test border-white opacity-100 position-relative start-50 translate-middle-x mt-5 mt-md-4 mb-md-8" />
          <div class="container container-xxxl">
            <div class="row justify-content-between align-items-center">
              <a href="#" class="d-none d-xxxl-block arrow arrow-start"></a>
              <div class="col-xxxl-9">
                <div class="card text-white mb-8 border-0">
                  <picture>
                    <source
                      srcset="../assets/images/carousel.png"
                      media="(min-width: 768px)" />
                    <img
                      src="../assets/images/carousel_mobile.png"
                      class="card-img"
                      alt="subhero picture" />
                  </picture>
                  <div
                    class="card-img-overlay d-flex align-items-end align-items-md-center justify-content-md-end pe-md-10 text-md-end">
                    <ol class="list-unstyled">
                      <li>
                        <h3
                          class="card-title font-shrikhand mfs-16 mfs-md-24 mb-0">
                          01
                        </h3>
                        <h3
                          class="card-title fw-bold mfs-6 mfs-md-8 ls-24 ls-md-32 mb-md-4">
                          立體投影技<span>術</span>
                        </h3>
                        <p class="card-text fw-bold">
                          透過高科技立體投影技術，讓您感受真實的科技世界。
                        </p>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
              <a href="#" class="d-none d-xxxl-block arrow arrow-end"></a>
            </div>
            <hr
              class="divider divider-left opacity-100 border-top-0 mt-0 mb-15 mb-md-13" />
          </div>
        </div>
      </section>

      <!-- news section -->
      <section
        class="card bg-radial-gradient-1 fw-bold text-white border-0 pt-15 pt-md-40">
        <div class="container">
          <h2
            class="card-title text-white fw-bold text-center text-md-start mfs-10 mfs-md-12 ls-40 ls-md-48 mb-8 mb-md-10">
            最新消息
          </h2>
          <ul class="card-body list-unstyled row g-0 p-0 mb-10 mb-md-19">
            <li class="col-12">
              <!-- card 1 -->
              <div
                class="card bg-transparent text-white border-white border-start-0 border-end-0 border-bottom-0 py-8 px-4 py-md-10">
                <div class="d-flex align-items-center mb-2">
                  <span class="material-symbols-outlined me-4">
                    emergency
                  </span>
                  <time class="ls-16" datetime="2023-06-30">2023.06.30</time>
                </div>
                <h3 class="card-title mfs-5 fw-bold ls-20 mb-3">
                  產品升級公告
                </h3>
                <div class="d-md-flex">
                  <p class="card-text mb-3 me-md-auto">
                    榮幸地宣布，ALPHABOX+
                    已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<br
                      class="d-none d-md-block" />
                    歡迎您了解本次升級帶來的更為卓越的性能！
                  </p>
                  <img
                    src="../assets/images/line_end_arrow.png"
                    alt="arrow to right"
                    width="196"
                    height="24" />
                </div>
              </div>
            </li>
            <li class="col-md-6">
              <!-- card 2 -->
              <div
                class="card bg-transparent text-white border-white border-start-0 border-end-0 py-8 px-4 py-md-10">
                <div class="d-flex align-items-center mb-2">
                  <span class="material-symbols-outlined me-4">
                    emergency
                  </span>
                  <time class="ls-16" datetime="2023-06-30">2023.06.30</time>
                </div>
                <h3 class="card-title mfs-5 fw-bold ls-20 mb-3">
                  限時優惠活動
                </h3>
                <p class="card-text mb-3">
                  為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱
                  ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！
                </p>
                <img
                  src="../assets/images/line_end_arrow.png"
                  alt="arrow to right"
                  width="90"
                  height="24" />
              </div>
            </li>
            <li class="col-md-6">
              <!-- card 3 -->
              <div
                class="card bg-transparent text-white border-white border-end-0 border-start-0 border-start-md py-8 px-4 py-md-10">
                <div class="d-flex align-items-center mb-2">
                  <span class="material-symbols-outlined me-4">
                    emergency
                  </span>
                  <time class="ls-16" datetime="2023-04-18">2023.04.18</time>
                </div>
                <h3 class="card-title mfs-5 fw-bold ls-20 mb-3">新功能上線</h3>
                <p class="card-text mb-3">
                  為使您的 ALPHABOX+
                  更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
                </p>
                <img
                  src="../assets/images/line_end_arrow.png"
                  alt="arrow to right"
                  width="90"
                  height="24" />
              </div>
            </li>
          </ul>

          <div class="position-relative text-center mb-20 mb-md-24">
            <img
              class="circle"
              src="../assets/images/circle-empty-sm.png"
              alt=""
              width="132"
              height="132" />
            <p class="position-absolute top-50 start-50 translate-middle">
              查看更多
            </p>
          </div>
          <p class="card-text d-none d-md-block text-end mb-10">
            為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料
          </p>
        </div>
      </section>

      <!-- share section -->
      <section
        class="share bg-radial-gradient-2 text-white fw-bold overflow-hidden position-relative pt-15 pb-14 pt-lg-40 pb-lg-10">
        <p class="bg-logo font-shrikhand">ALPHABOX+</p>

        <div class="container">
          <div class="card bg-transparent text-white border-0 mb-6 mb-md-10">
            <div class="row">
              <div class="col-lg-5">
                <h2
                  class="card-title mfs-10 mfs-xl-12 ls-40 ls-md-48 mb-4 fw-bold">
                  使用分享
                </h2>
                <p class="card-subtitle mt-0 mb-6 mb-lg-10">01 — 04</p>
              </div>
              <div class="col-lg-7">
                <div class="card-body p-0">
                  <p class="card-text mt-lg-5 mt-xl-8">
                    展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <span
            class="material-symbols-outlined mfs-20 align-middle mb-4 mb-md-6">
            emergency
          </span>
          <div class="swiper overflow-visible mb-lg-31">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <!-- shareCard 1 -->
                <div class="card shareCard bg-primary-dark-3 text-white">
                  <div class="card-body d-flex flex-column p-6 p-md-10">
                    <h3
                      class="card-title d-flex align-items-center gap-2 fw-bold mfs-4 mb-8">
                      <span>Zona</span>
                      <span class="material-icons md-8"> circle </span>
                      <span>Taipei</span>
                    </h3>
                    <p class="card-text">
                      ALPHABOX+
                      真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                    <p
                      class="card-text d-flex align-items-center gap-4 mt-auto">
                      <span class="material-icons md-16"> circle </span
                      ><span class="material-icons md-16"> circle </span>
                      <span>ALPHABOX+ Dianne</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <!-- shareCard 2 -->
                <div class="card shareCard">
                  <div class="card-body d-flex flex-column p-6 p-md-10">
                    <h3
                      class="card-title d-flex align-items-center gap-2 fw-bold mfs-4 mb-8">
                      <span>Lin</span>
                      <span class="material-icons md-8"> circle </span>
                      <span>Chiayi</span>
                    </h3>
                    <p class="card-text">
                      非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。
                    </p>
                    <p
                      class="card-text d-flex align-items-center gap-4 mt-auto">
                      <span class="material-icons md-16"> circle </span
                      ><span class="material-icons md-16"> circle </span>
                      <span>ALPHABOX+ Felix</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <!-- shareCard 3 -->
                <div class="card shareCard bg-primary-dark-3 text-white">
                  <div class="card-body d-flex flex-column p-6 p-md-10">
                    <h3
                      class="card-title d-flex align-items-center gap-2 fw-bold mfs-4 mb-8">
                      <span>云</span>
                      <span class="material-icons md-8"> circle </span>
                      <span>Taipei</span>
                    </h3>
                    <p class="card-text">
                      我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                      ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！
                    </p>
                    <p
                      class="card-text d-flex align-items-center gap-4 mt-auto">
                      <span class="material-icons md-16"> circle </span
                      ><span class="material-icons md-16"> circle </span>
                      <span>ALPHABOX+ Dianne</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <!-- shareCard 4 -->
                <div class="card shareCard">
                  <div class="card-body d-flex flex-column p-6 p-md-10">
                    <h3
                      class="card-title d-flex align-items-center gap-2 fw-bold mfs-4 mb-8">
                      <span>Zichi</span>
                      <span class="material-icons md-8"> circle </span>
                      <span>Kaohsiung</span>
                    </h3>
                    <p class="card-text">
                      讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！
                    </p>
                    <p
                      class="card-text d-flex align-items-center gap-4 mt-auto">
                      <span class="material-icons md-16"> circle </span
                      ><span class="material-icons md-16"> circle </span>
                      <span>ALPHABOX+ Vito</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row d-none d-lg-flex align-items-center mt-12">
              <div class="col-8">
                <!-- scrollbar -->
                <div class="swiper-scrollbar position-static"></div>
              </div>
              <div class="col-1">SCROLL</div>
            </div>
          </div>
          <!-- Slider main container -->
          <p class="d-none d-lg-block">
            若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。
          </p>
        </div>
      </section>

      <!-- contact section -->
      <section
        class="contact bg-primary-dark-2 text-white fw-bold pt-12 pb-20 py-md-36">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
              <div class="card bg-primary-dark-2 text-white mb-6 border-0">
                <h2 class="card-title text-white fw-bold ls-40 ls-md-48 mb-5">
                  聯絡我們
                </h2>
                <p class="d-flex align-items-center mb-9 mb-mb-13">
                  <span class="bg-white divider-circle me-2"></span>
                  <span class="bg-white divider-pill"></span>
                </p>
                <p class="card-text mb-1">讓科技成為您的最佳夥伴</p>
                <p class="card-text">立即體驗神奇功能並享限時優惠！</p>
              </div>
            </div>
            <div class="col-md-7">
              <form action="">
                <span
                  class="material-symbols-outlined mfs-20 align-middle mb-4">
                  emergency
                </span>
                <div class="form-floating mb-4">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com" />
                  <label for="floatingInput">EMAIL</label>
                </div>
                <div class="form-floating mb-4">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="floatingTextarea2"
                    style="height: 120px"></textarea>
                  <label for="floatingTextarea2">COMMENTS</label>
                </div>
                <div class="row flex-md-row-reverse">
                  <div class="col-md-7">
                    <button
                      type="button"
                      class="btn nav-link bg-primary-dark-5 fw-medium d-flex justify-content-center py-2 rounded-1 w-100">
                      <span class="material-symbols-outlined me-1">
                        point_scan </span
                      >送出
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- AI agent -->
      <section class="aiagent">
        <div class="container-fluid px-0">
          <ol class="row list-unstyled g-0 mb-0">
            <li class="col-6 col-lg-3">
              <a href="#" class="card aiagentCard border-0">
                <img
                  class="card-img card-img-overlay h-100 object-fit-cover p-0 z-n1"
                  src="../assets/images/diane_vertical.png"
                  alt="diane" />
                <div
                  class="d-flex flex-column align-items-center text-white py-6 px-3 px-md-10 pb-md-14">
                  <p
                    class="aiagentCard-number font-sairaextra fw-light mb-4 mb-lg-50">
                    1
                  </p>
                  <h3
                    class="card-title font-shrikhand mfs-6 mfs-lg-8 mb-md-20"
                    style="margin-bottom: 18px">
                    Diane
                  </h3>
                  <h4 class="card-subtitle align-self-start mfs-4 fw-bold mt-0">
                    知識型
                  </h4>
                  <div
                    class="card-text align-self-start d-lg-flex justify-content-lg-between w-100">
                    <p>學術領導/知識分享/智能問答</p>
                    <img
                      style="max-width: 100%; max-height: 100%"
                      src="../assets/images/line_end_arrow.png"
                      alt="arrow to right"
                      width="155"
                      height="24" />
                  </div>
                </div>
              </a>
            </li>
            <li class="col-6 col-lg-3">
              <a href="#" class="card aiagentCard border-0 border-start-lg">
                <img
                  class="card-img card-img-overlay h-100 object-fit-cover p-0 z-n1"
                  src="../assets/images/felix_vertical.png"
                  alt="felix" />
                <div
                  class="d-flex flex-column align-items-center text-white py-6 px-3 px-md-10 pb-md-14">
                  <p
                    class="aiagentCard-number font-sairaextra fw-light mb-4 mb-lg-50">
                    2
                  </p>
                  <h3
                    class="card-title font-shrikhand mfs-6 mfs-lg-8 mb-md-20"
                    style="margin-bottom: 18px">
                    Felix
                  </h3>
                  <h4 class="card-subtitle align-self-start mfs-4 fw-bold mt-0">
                    娛樂型
                  </h4>
                  <div
                    class="card-text align-self-start d-lg-flex justify-content-lg-between w-100">
                    <p>音樂播放/語音互動/遊戲陪伴</p>
                    <img
                      style="max-width: 100%; max-height: 100%"
                      src="../assets/images/line_end_arrow.png"
                      alt="arrow to right"
                      width="155"
                      height="24" />
                  </div>
                </div>
              </a>
            </li>
            <li class="col-6 col-lg-3">
              <a href="#" class="card aiagentCard border-0 border-start-lg">
                <img
                  class="card-img card-img-overlay h-100 object-fit-cover p-0 z-n1"
                  src="../assets/images/karina_verticalgle.png"
                  alt="karina" />
                <div
                  class="d-flex flex-column align-items-center text-white py-6 px-3 px-md-10 pb-md-14">
                  <p
                    class="aiagentCard-number font-sairaextra fw-light mb-4 mb-lg-50">
                    3
                  </p>
                  <h3
                    class="card-title font-shrikhand mfs-6 mfs-lg-8 mb-md-20"
                    style="margin-bottom: 18px">
                    Diane
                  </h3>
                  <h4 class="card-subtitle align-self-start mfs-4 fw-bold mt-0">
                    生活型
                  </h4>
                  <div
                    class="card-text align-self-start d-lg-flex justify-content-lg-between w-100">
                    <p>健康提醒/日程安排/智能家居</p>
                    <img
                      style="max-width: 100%; max-height: 100%"
                      src="../assets/images/line_end_arrow.png"
                      alt="arrow to right"
                      width="155"
                      height="24" />
                  </div>
                </div>
              </a>
            </li>
            <li class="col-6 col-lg-3">
              <a href="#" class="card aiagentCard border-0 border-start-lg">
                <img
                  class="card-img card-img-overlay h-100 object-fit-cover p-0 z-n1"
                  src="../assets/images/vito_vertical.png"
                  alt="vito" />
                <div
                  class="d-flex flex-column align-items-center text-white py-6 px-3 px-md-10 pb-md-14">
                  <p
                    class="aiagentCard-number font-sairaextra fw-light mb-4 mb-lg-50">
                    4
                  </p>
                  <h3
                    class="card-title font-shrikhand mfs-6 mfs-lg-8 mb-md-20"
                    style="margin-bottom: 18px">
                    Vito
                  </h3>
                  <h4 class="card-subtitle align-self-start mfs-4 fw-bold mt-0">
                    情感型
                  </h4>
                  <div
                    class="card-text align-self-start d-lg-flex justify-content-lg-between w-100">
                    <p>情感識別/心情分析/心靈支持</p>
                    <img
                      style="max-width: 100%; max-height: 100%"
                      src="../assets/images/line_end_arrow.png"
                      alt="arrow to right"
                      width="155"
                      height="24" />
                  </div>
                </div>
              </a>
            </li>
          </ol>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
