<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>產品 | AI 虛擬陪伴</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <nav class="container-fluid bg-black">
        <ul
          class="nav nav-pills productNav font-shrikhand mfs-md-6 py-4 justify-content-center gap-2 gap-md-6">
          <li class="nav-item">
            <a
              class="nav-link d-block border border-white rounded-pill py-1 px-4 px-md-20"
              href="#"
              >Diane</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-block border border-white rounded-pill py-1 px-4 px-md-20"
              href="#"
              >Felix</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-block border border-white rounded-pill py-1 px-4 px-md-20"
              href="#"
              >Karina</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link d-block border border-white rounded-pill py-1 px-4 px-md-20"
              >Vito</a
            >
          </li>
        </ul>
      </nav>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
